# 在这里 https://tushare.pro/weborder/#/user/info
# rename to `.env`，或运行 `uv run python setup.py` 自动生成
TUSHARE_TOKEN=your_tushare_token
LARK_APP_ID=your_lark_app_id
LARK_SECRET=your_lark_secret
ME_UNION_ID=your_union_id
